<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 4 years of experience as a software engineer, and have worked
            at both small startups and large organizations. While I'm a proficient full-stack
            developer, my expertise is in building scalable backend services (API services, micro services,
            and async mechanisms).
        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for a juniour individual contributor role where I can take on collaborative
           team membership responsibilites, and gain experience with
           architecture and project development.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>Contributed a monolithic Node.JS API and currently working on a multi-service dockerized containers to AWS.</li>
          <li>Implemented a third party API resulting in reduced costs for the product by 30%. Estimated save of $200k/year.</li>
          <li>Rapid development of software ideas.</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
