<article id="about">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>About Me</h2>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p>
            I have over 5 years of experience as a software engineer, and have worked
            for both small startups and large organizations.
            While I'm a proficient full-stack
            developer, my expertise is in building simple, scalable backend services with AWS. 
            For example, API Gateway, Lambda, Route 53, SNS and CloudWatch.
          </p>
          <p>
            I'm looking for a senior individual contributor role where I can take on collaborative
            team membership responsibilites. 
          </p>
        </div>
        <div class="col-sm-6">
          <h3 style="margin-top:0;">Highlights</h3>
          <ul>
            <li>Lead the development of a website in a team of 4.</li>
            <li>Mentored 2 developers while working in a team of 15.</li>
            <li>Mostly worked on research.</li>
            <li>Accountable for reducing the cost of MVP by 10%.</li>
            <li>Since 2009, designed web pages with css and html.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</article>