<article id="about">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>About Me</h2>
          <hr />
        </div>
      </div>
      <div class="row">
          <div class="col-sm-6">
              <p>
                  With over 7 years of experience in software engineering, I have honed my skills in diverse environments, from agile startups to established large-scale organizations. Although adept in full-stack development, my professional trajectory has increasingly gravitated towards the construction of streamlined, scalable backend services utilizing various AWS tools such as ECS, EC2, Lambda, Amazon RDS, API Gateway, Route 53, SNS, CloudTrail, and CloudWatch.
              </p>
              <p>
                  As a senior software engineer, my role extends beyond individual contributions. I serve as a lead engineer, embracing collaborative responsibilities and fostering an environment of knowledge sharing and mentoring within the team.
              </p>
          </div>
          <div class="col-sm-6">
              <h3 style="margin-top:0;">Professional Milestones</h3>
              <ul>
                  <li>Directed the development of a web product as the team lead of a four-person team.</li>
                  <li>Provided mentorship to fellow engineers in a dynamic team of 17.</li>
                  <li>Devised a unique solution catering to a business requirement, which subsequently generated $18 million in revenue.</li>
                  <li>Cultivated cost efficiencies by developing a custom library, meeting a critical requirement that enabled negotiation of a discounted contract (10%) for a key product dependency.</li>
                  <li>Engaged in full-stack development and website design since 2013, underscoring a broad skill set and enduring interest in evolving technologies.</li>
              </ul>
          </div>
      </div>

    </div>
  </section>
</article>
