<article id="interests">
  <section class="tout">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Interests</h2>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p>
            My personal interests include:
          </p>
          <ul>
            <li>
              <b>Deep learning</b>. It's an exciting time for machine learning. 
              I read a book named 
              <a 
                href="https://www.goodreads.com/book/show/35518108-machine-learning">
                Machine Learning: A Visual Starter Course For Beginner's
              </a>. I am planning to build a bot for social media through ML.
            </li>
            <li>
              <b>Reparing & DIY</b>. I've been an "enthusiastic" repairmen since 
              I was a kid, mostly breaking my toys, 😊 - but only as an adult 
              am I able to afford the higher-quality tools. 
              I like to fix simple mechanical defects, or circumvent them even 
              if it takes some of my time.
            </li>
            <li>
              <b>Volleyball</b>. I am playing volleyball with a Turkish friend 
              group, join us if you like in New Jersey!
            </li>
          </ul>
        </div>
        <div class="col-sm-6">
          <h3 style="margin-top:0">Recent Projects</h3>
          <ul>
            <li>
              I am building a bot with 
              <a target="_blank" href="https://wit.ai/">Wit AI</a>, 
              Facebook's AI for chatting, to build a reporter bot.
            </li>
            <li>
              I am working on a huge API project on e-commerce, 
              using Dockerized containers, 
              CI-Postman integration and microservices.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</article>
