<article id="interests">
  <section class="tout">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Interests</h2>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p>
            My personal interests include:
          </p>
          <ul>
            <li>
              <b>Deep Learning & NLP</b>. It's an exciting time for machine learning. 
              I got interested in it after Google invented <i>intuition</i> through machine learning.
              If you are interested to start off you can read: <a 
                href="https://www.goodreads.com/book/show/35518108-machine-learning">
                Machine Learning: A Visual Starter Course For Beginner's
              </a>. I am currently building a bot pretty much like Alexa, that can talk to me for a specific task.
            </li>
            <li>
              <b>Reparing & DIY</b>. I've been an "enthusiastic" repairmen since 
              I was a kid, mostly breaking my toys, 😊 - but only as an adult 
              am I able to afford the higher-quality tools. 
              I like to fix simple mechanical defects, or circumvent them even 
              if it takes some of my time.
            </li>
            <li>
              <b>Volleyball</b>. I am playing volleyball with a Turkish friend 
              group, join us if you like in New Jersey!
            </li>
          </ul>
        </div>
        <div class="col-sm-6">
          <h3 style="margin-top:0">Recent Projects</h3>
          <ul>
            <li>
              I am building an AI chatty bot <u>like Alexa</u> with 
              <a target="_blank" href="https://api.ai/">Dialogflow</a>, 
              natural language understanding by Google. 
            </li>
            <li>
              Google's machine learning software in the cloud can be configured 
              for making sense of random user input. 
              It's very useful because it removes all the computational and hardware 
              requirements of running a machine learning algorithm myself and simplifies the process.
              It has never been easier to play with Natural Language Processing or NLP for short.
            </li>
            <li>
              I am also <u>leading</u> a new project for my company at Shiptory. 
              It will help the company by increasing its market share and reduce its third party dependencies.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</article>
