<article id="interests">
  <section class="tout">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Professional Profile</h2>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h3 style="margin-top:0">Certifications</h3>
          <a class="btn col-sm-4 col-lg-6 col-xs-12" href="https://www.credly.com/badges/20aec7b2-cbc0-47bb-ac9b-4122bd7d4e4f/public_url" target="_blank">
            <img class="img-responsive img-fluid" src="https://images.credly.com/images/0e284c3f-5164-4b21-8660-0d84737941bc/image.png"/>
          </a>
          <a class="btn col-sm-4 col-lg-6 col-xs-6" href="https://www.credly.com/badges/7a7716b7-4344-4165-bcbf-8fbb5f1c8f6f/public_url" target="_blank">
            <img class="img-responsive img-fluid" src="https://images.credly.com/images/b9feab85-1a43-4f6c-99a5-631b88d5461b/image.png"/>
          </a>
          <a class="btn col-sm-4 col-lg-6 col-xs-6" href="https://www.credly.com/badges/6af686f8-72b0-4c51-95a1-fa6f2847dfa9/public_url" target="_blank">
            <img class="img-responsive img-fluid" src="https://images.credly.com/images/00634f82-b07f-4bbd-a6bb-53de397fc3a6/image.png"/>
          </a>
          <br class="">
        </div>
        <div class="col-lg-6">
          <p>
            As a dedicated Lead Software Engineer, my expertise lies in the domain of:
          </p>
          <ul>
            <li>
              <b>Software Architecture and Cloud Infrastructure</b>: My academic foundation in Software Science, 
              strengthened during my tenure at the university, has culminated in a deep understanding of optimal 
              coding practices and effective cloud architecture designs. I have substantiated this knowledge by 
              successfully obtaining certifications in AWS, including the Cloud Associate credential, which are 
              visibly showcased on my LinkedIn profile. AWS remains my preferred cloud service provider, endorsing 
              its superior capabilities and industry relevance.
            </li>
            <li>
              <b>Artificial Intelligence with emphasis on Deep Learning and Natural Language Processing (NLP)</b>: 
              I am intrigued by the advancements in AI and Machine Learning. This fascination began with a project I 
              undertook to develop a chatbot for recording hourly check-in and check-out times on Slack. To delve deeper 
              into this field, I recommend <a href="https://www.goodreads.com/book/show/35518108-machine-learning" 
              target="_blank" rel="noopener noreferrer">Machine Learning: A Visual Starter Course For Beginners</a> 
              as an ideal primer. My experience extends to building and fine-tuning bots using Natural Language Understanding (NLU) tools 
              like IBM Watson and Dialogflow, both individually and in collaboration with teams.
            </li>
          </ul>
        </div>
        <div class="col-sm-12">
          <p>Additional Interests:</p>
          <ul>
            <li><b>Music</b>: A melophile at heart, I enjoy playing the ukulele, guitar, and drums. Recently, I have embarked on a 
              journey to discover music production techniques to further enhance my skills.</li>
            <li><b>Extreme Sports</b>: I have been an accredited skydiver since 2021, with an impressive track record of over 
              250 skydives. My passion for extreme sports reflects my adventurous spirit and willingness to embrace challenges.</li>
          </ul>
          <p>In summary, I believe my comprehensive experience in Software Engineering, AI, and Machine Learning, 
            combined with my proven expertise in AWS and Cloud Infrastructure, can be a valuable asset to your organization.</p>
        </div>
      </div>
    </div>
  </section>
</article>
